@font-face {
    font-family: Gobold;
    src: url('https://cdn.glitch.com/2f7d0566-c43d-4bef-900f-6c5f21f2d2b9%2FGobold%20Uplow%20Italic.otf?v=1618886541586') format("opentype");
}  

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
  
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 2em;
  background-color: #000000;
  color: #ffffff;
}

h1, h2, h3 {
  text-transform: lowercase;
  font-family: Gobold;
  font-style: italic;
}

a {
  text-decoration: none;
}

.btn:hover {
  cursor:pointer;
  background-color: rgba(255,255,255,0.75);
  color:#000000;
  border-color: #ffffff;
}

.btn {
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  background-color: rgba(255,255,255,0.3);
  margin: 5px;
  font-weight:bold;
}

.fa-arrow-up {
  padding:5px;
}

 #bookmarklet {
  border-style: solid;
  border-width: 2px;
  padding: 5px;
color: #ffffff;
} 

 #bookmarklet:hover,
#bookmarklet:focus {

  color: black;
   border-color: #ffffff;
} 

#container {
	padding: 5px;
	max-width:700px;
	width: 95%;
	margin: 20px auto;
}

#one {
  vertical-align: super;
  padding-left: 5px;
}
#text {
    min-height:200px;
  font-family: 'Book Antiqua', Palatino, sans-serif;
}

#text-container {
   border-style: solid;
  border-width: 1px; 
  padding: 3px;
  margin-bottom: 2rem;

}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  
  